
html {box-sizing: border-box;
		font-size: 16px;	font-size: 62.5%;} /* 62.5% of 16 = 10 */

*, *:before, *:after {box-sizing: border-box;}

/*--- Authors Styles --- */



body {font: 1.6rem/1.5 arial;
		background-color: #f8f2f2;}

main{padding: 4.0rem;}

nav li {position: relative;
		width: 10rem;
		float:left;
		background-color: aqua;}

nav ul{display: flex;
		flex-direction: row;
		justify-content: space-between;}

nav li ul {position: absolute;
			display: none;	}

nav li ul li{float:none;
margin-bottom: .4rem;}

nav li:hover ul{display: block;}

/*--- Navigational behaviours --- */
a {display: inline-block;
	text-decoration: none;}

a:link, a:visited, a:hover, a:active {
}
a:link, a:visited {
  color: #000;     
  border-left: solid .2rem aqua;
   /* unvisited link and a visted link */
  }

a:hover, a:active {
  color: #fff;
  border-left: solid .2rem #fff;      /* mouse over  and selected link */
  }
