body{font: 14px arial;}

header, main, footer {width:960px; 
						margin: 40px auto 0 auto;
						border: 2px solid #eaeaea;
						padding: 20px 80px;}
header ul {float: left;
	text-align: center;}

header ol{float: right;
	text-align: right;
	line-height: 35px;
	margin-top: 35px}

header ol img {vertical-align: top;}

header span{color: #696969;}

main section{float: left;
				width:293px;
				margin-right: 20px;}

main ol {text-align: center;}


main ol li:last-child{background-color: #000000;
					color: #ffffff;}

main ol li {padding: 10px; }
.margin-fix{margin-right: 0;}
